    <table class="table table-hover">
        <tr>
            <td width="100px">
                <img src={{url_for('static',filename=golfer.picture_url)}} width="100px" height="100px">
            </td>
            <td width="100px">
                Golfer: <strong>{{  golfer.first_name }} {{ golfer.last_name }}</strong>
            </td>
            <td width="100px">
                World Rank (OWGR): <strong>{{ golfer.world_rank }}</strong>
            </td>
            <td width="100px">
                Odds: <strong>+{{ golfer.odds }}</strong> or <strong> {{ golfer.odds_ratio }}</strong>
            </td>
        </tr>
    </table>