{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='golfer.ico') }}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Golf{% else %}The 19th Hole{% endif %}
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('golf.index') }}">The 19th Hole</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
{#                    <li><a href="{{ url_for('golf.index') }}">Home</a></li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% else %}
                        <li><a href="{{ url_for('golf.leaderboard') }}">Leaderboard</a></li>
                        <li><a href="{{ url_for('golfers.select') }}">Team Builder</a></li>
                        <li><a href="{{ url_for('profile.profile', team_name=current_user.team_name) }}">My Team</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block content %}
   <div class="container">
{#        <script>#}
{#            var messages = {{ messages | safe }};#}
{#            for (var i=0; i<messages.length; i++) {#}
{#                alert(messages[i]);#}
{#            }#}
{#        </script>#}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}