{% extends "base.html" %}

{% block app_content %}
    <script>
        function count(){
            var count = document.querySelectorAll('input[type="checkbox"]:checked').length;
            var currentTeamSize = {{ count | safe }}
            document.getElementById("count").innerHTML=count;
            const button = document.getElementById('submitPicks');
            const warning = document.getElementById('warningMessage');
            if(count + currentTeamSize > 10) {
                button.disabled = true;
                warning.hidden = false;
            } else {
                button.disabled = false;
                warning.hidden = true;
            }
        }
    </script>
    <form class="form-inline" method="POST" action="{{ url_for('golfers.submit') }}">
        <div class="page-header">
            <h2>Please select your team (10 golfers max)</h2>
            <h4>Team building closes at <strong>{{ start_time }}</strong></h4>
            <h4>You currently have {{ count }} golfer(s) on your team. <strong>They are not displayed here.</strong> </h4>
        </div>
        {% for golfer in golfers %}
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="check" value="{{ golfer.id }}" onchange="count()"> {{ golfer.first_name }} {{ golfer.last_name }}
            </label>
            {% include '_golfer.html' %}
            </br>
        {% endfor %}
        </br>
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="container">
              <button type="submit" class="btn btn-default" id="submitPicks">Submit
                  <span id="count">0</span>
                  <span> selected golfers </span>
              </button>
              <span style="color: white; font-weight: bold" hidden="hidden" id="warningMessage">
                  This submission puts your roster above 10 total golfers. You currently have {{ count }} golfer's on your team.
              </span>
          </div>
        </nav>
    </form>
{% endblock %}