{% extends "base.html" %}

{% block app_content %}
    <form class="form-inline" method="POST" action="{{ url_for('golfers.submit') }}">
        <div class="page-header">
            <h2>Please select your team (10 golfers max)</h2>
            <h4>Team building closes at <strong>{{ start_time }}</strong></h4>
            <h4>You currently have {{ count }} golfer(s) on your team. <strong>They are not displayed here.</strong> </h4>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        {% for golfer in golfers %}
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="check" value="{{ golfer.id }}"> {{ golfer.first_name }} {{ golfer.last_name }}
            </label>
            {% include '_golfer.html' %}
            </br>
        {% endfor %}
        </br>
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="container">
              <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </nav>
    </form>
{% endblock %}