{% extends "base.html" %}
{% block app_content %}
    <div>
        <h1>Leaderboard</h1>
        <h3>
            Points are updated every hour using the standings at that time.<br/>
            Please note no points are final until the tournament is over.<br/>
            Last Updated: {{ update }}
        </h3>
        <table class="table table-hover">
            <tr>
                <td>
                    <h3>Your team: {{ current_user.team_name }}</h3>
                    <h5>Your points: {{ current_user.points }}</h5>
                </td>
            </tr>
        </table>
    </div>
    {% if players%}
        {% set count = 1 %}
        {% for player in players %}
            {% with count=loop %}
                {% include '_player.html' %}
            {% endwith %}
        {% endfor %}
    {% else %}
        <table class="table table-hover">
            <tr>
                <td>
                    <h3>No players registered yet.</h3>
                </td>
            </tr>
        </table>
    {% endif %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Back
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}