{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                <h1>{{ user.team_name }}</h1>
                {% if user.id == current_user.id %}
                    <h5>You have {{ count }} open spots left on your team.</h5>
                {% endif %}
            </td>
        </tr>
    </table>
    {% if golfers%}
        {% for golfer in golfers %}
            {% include '_golfer.html' %}
        {% endfor %}
    {% else %}
        <table class="table table-hover">
            <tr>
                <td>
                    <h3>This user has not yet selected their golfers.</h3>
                </td>
            </tr>
        </table>
    {% endif %}

{% endblock %}