{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                <h1>{{ user.team_name }}</h1>
                <h5>You have {{ count }} open spots left on your team.</h5>
            </td>
        </tr>
    </table>
    {% if golfers%}
        {% for golfer in golfers %}
            {% include '_golfer.html' %}
        {% endfor %}
    {% else %}
        <table class="table table-hover">
            <tr>
                <td>
                    <h3>This user has not yet selected their golfers.</h3>
                </td>
            </tr>
        </table>
    {% endif %}
{#    <nav aria-label="...">#}
{#        <ul class="pager">#}
{#            <li class="previous{% if not prev_url %} disabled{% endif %}">#}
{#                <a href="{{ prev_url or '#' }}">#}
{#                    <span aria-hidden="true">&larr;</span> Back#}
{#                </a>#}
{#            </li>#}
{#            <li class="next{% if not next_url %} disabled{% endif %}">#}
{#                <a href="{{ next_url or '#' }}">#}
{#                    Next <span aria-hidden="true">&rarr;</span>#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
{#    </nav>#}
{% endblock %}